{% extends "layout.html" %} {% block title %} Edit citation {% endblock %}
{% block script %} <script defer src={{ url_for('static', filename='new_citation.js' ) }}></script> {% endblock %}
{% block body %}
<div class="form-wrapper">
  <h2>Edit citation</h2>

  <form action="/edit/{{ citation.id }}", method="post">
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
    <div class="form-item">
      <label for="citation_key">Citation key</label>
      <input type="text" name="citation_key" value="{{citation.citation_key}}" required />
    </div>

    <div class="form-item">
      <label for="type">Type</label>
      <select name="type" value="{{citation.type}}" required>
        <option value="article">Article</option>
        <option value="book">Book</option>
        <option value="inproceedings">Conference</option>
        <option value="misc">Other</option>
      </select>
    </div>

    <div class="form-item">
      <label for="title">Title</label>
      <input type="text" name="title" value="{{citation.title}}" required />
    </div>

    <div class="form-item">
      <label for="author"
        >Author(s):
        <div
          class="info-icon"
          title="The name(s) of the author(s) (in the case of more than one author, separated by and)"
        >
          i
        </div>
      </label>
      <input type="text" name="author" value="{{citation.author_string or ''}}"/>
    </div>

    <div class="form-item">
      <label for="year">Year</label>
      <input type="text" name="year" pattern="^\d*$" value="{{citation.year}}"/>
    </div>

    <div class="form-item">
      <label for="publisher">Publisher</label>
      <input type="text" name="publisher" value="{{citation.publisher}}"/>
    </div>

    <div class="form-item">
      <label for="isbn">ISBN</label>
      <input type="text" name="isbn" value="{{citation.isbn}}"/>
    </div>

    <div class="form-item">
      <label for="doi">DOI</label>
      <input type="text" name="doi" value="{{citation.doi}}"/>
    </div>

    <div class="form-item">
      <label for="url">URL</label>
      <input type="text" name="url" value="{{citation.url}}"/>
    </div>

    <div class="buttons">
      <button onclick="document.location='/'">Cancel</button>
      <button type="submit" id="create">Save changes</button>
    </div>
  </form>
</div>
{% endblock %}
