{% extends "layout.html" %} {% block title %} Citation helper {% endblock %} {%
block body %}

<div class="list-wrapper">
  <h2>Citation helper</h2>
  <div class="top-row">
    <div class="left">Amount of citations: {{ citations | count }}</div>
    <div class="right">
      <button onclick="document.location='new_citation'">
        Create new citation
      </button>
    </div>
  </div>
  <ul>
    {% for citation in citations %}
    <li>
      <p>Citation key: {{ citation.citation_key }}</p>
      <p class="cit-title"><strong>Title:</strong> {{ citation.title }}</p>
      <p><strong>Type:</strong> {{ citation.type }}</p>

      {% if citation.author %}
        {% if " and " in citation.author %}
          <p><strong>Authors:</strong> {{ citation.author }}</p>
        {% else %}
          <p><strong>Author:</strong> {{ citation.author }}</p>
        {% endif %}
      {% endif %}


      {% if citation.publisher %}
        <p><strong>Publisher:</strong> {{ citation.publisher }}</p>
      {% endif %}
      {% if citation.year %}
        <p><strong>Year:</strong> {{ citation.year }}</p>
      {% endif %}
      {% if citation.isbn %}
        <p><strong>ISBN:</strong> {{ citation.isbn }}</p>
      {% endif %}
      {% if citation.doi %}
        <p><strong>DOI:</strong> {{ citation.doi }}</p>
      {% endif %}
      {% if citation.url %}
        <p><strong>URL:</strong> {{ citation.url }}</p>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
