{% extends "layout.html" %} {% block title %} Citation helper {% endblock %}
{% block script %}
<script defer src={{ url_for('static', filename='index.js' ) }}></script>
{% endblock %}
{%block body %}

<div class="fp-container">
  <h2 id="fp-title">Citation helper</h2>
  <div class="fp-header">
    <div>
      <button id="generate-bibtex" disabled="true">Generate BibTeX</button>
    </div>
    <div>
      <div id="cit-amount">Amount of citations: {{ citations | count }}</div>
      <div id="selected-amount">Citations selected: 0</div>
    </div>
    <div>
      <button onclick="document.location='new_citation'">
        Create new citation
      </button>
    </div>
  </div>
  <ul class="cit-grid">
    {% for citation in citations %}
    <li class="list-item" data-id="{{  citation.id  }}">
      <p>
        <strong>Title:</strong>
        <span class="cit-title">{{ citation.title }}</span>
      </p>
      <p><strong>Citation key:</strong> {{ citation.citation_key }}</p>
      <p><strong>Type:</strong> {{ citation.type }}</p>

      {% if citation.author %} {% if " and " in citation.author %}
      <p><strong>Authors:</strong> {{ citation.author }}</p>
      {% else %}
      <p><strong>Author:</strong> {{ citation.author }}</p>
      {% endif %} {% endif %} {% if citation.publisher %}
      <p><strong>Year:</strong> {{ citation.year }}</p>
      {% endif %}

      <div class="buttons">
        <button onclick="document.location='/edit/{{citation.id}}'">
          Edit
        </button>
        <!--<button onclick="">Delete</button>-->
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}