<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href={{ url_for('static', filename='styles.css' ) }}>
  {% block script %}{% endblock %}
</head>

<body>
    <header class="top-bar">
        {% if request.endpoint != 'index' %}
            <a href="{{ url_for('index') }}" id="front_page">
                <button type="button" name="front_page">Front page</button>
            </a>
        {% endif %}
    </header>

    {% block body %}{% endblock %}
</body>

</html>