{% extends "layout.html" %}

{% block title %}
Create a new citation
{% endblock %}

{% block body %}

<h2>Create a new citation</h2>

<form action="/create_citation" method="post">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  <label for="type">Type:</label>
  <select name="type" required>
    <option value="article">Article</option>
    <option value="book">Book</option>
    <option value="inproceedings">Conference</option>
    <option value="misc">Other</option>
  </select>
  <br>
  <label for="title">Title:</label>
  <input type="text" name="title" required />
  <br>
  <label for="author">Author(s):</label>
  <input type="text" name="author" />
  <div class="info-icon">
    i
    <div class="tooltip-text">
      The name(s) of the author(s) (in the case of more than one author, separated by and)
    </div>
  </div>

  <br>
  <label for="year">Year:</label>
  <input type="text" name="year" />
  <br>
  <label for="publisher">Publisher:</label>
  <input type="text" name="publisher" />
  <br>
  <label for="isbn">ISBN:</label>
  <input type="text" name="isbn" />
  <br>
  <label for="doi">DOI:</label>
  <input type="text" name="doi" />
  <br>
  <label for="url">URL:</label>
  <input type="text" name="url" />
  <br>
  <button type="submit">
    Create
  </button>
</form>

{% endblock %}