.info-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 18px;
  cursor: pointer;
  position: relative;
}

.info-icon:hover .tooltip-text {
  visibility: visible;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

