.info-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 18px;
  cursor: pointer;
  position: relative;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.form-item {
  display: flex;
  flex-direction: column;
}

input {
  height: 35px;
  font-size: large;
}

select {
  height: 35px;
  font-size: large;
}

.buttons {
  align-self: end;
}

button {
  font-size: large;
  width: fit-content;
}

.form-wrapper {
  width: 750px;
  display: flex;
  justify-self: center;
  flex-direction: column;
}

.form-wrapper input,
.form-wrapper select {
  width: 100%;
  box-sizing: border-box;
}

li {
  background: #f5f5f5;
  padding: 12px 16px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 4xp 8px rgba(0, 0, 0, 0.35);
  list-style: none;
}
.list-wrapper {
  width: 750px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.list-wrapper ul {
  width: 100%;
  padding: 0;
  margin: 0;
}

.list-wrapper li {
  width: 100%;
  box-sizing: border-box;
}

.list-item {
  display: flex;
  flex-direction: column;
}

.cit-title {
  font-size: large;
  font-weight: bold;
}

.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.bibtex {
  font-family: monospace;
  background-color: #f5f5f5;
  padding: 0 1rem;
}