.info-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 18px;
  cursor: pointer;
  position: relative;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.form-item {
  display: flex;
  flex-direction: column;
}

input {
  height: 35px;
  font-size: large;
}

select {
  height: 35px;
  font-size: large;
}

.buttons {
  align-self: end;
}

button {
  font-size: large;
  width: fit-content;
}

.form-wrapper {
  width: 750px;
  display: flex;
  justify-self: center;
  flex-direction: column;
}
