.info-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 18px;
  cursor: pointer;
  position: relative;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.top-bar {
  max-width: 750px;
  margin: 0 auto;
  padding: 16px 0;
  display: flex;
  align-items: center;
  gap: 16px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}

.form-item {
  display: flex;
  flex-direction: column;
}

input {
  height: 35px;
  font-size: large;
}

select {
  height: 35px;
  font-size: large;
}

.buttons {
  align-self: end;
}

button {
  font-size: large;
  width: fit-content;
}

.form-container {
  width: 750px;
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
}

.form-container h2 {
  margin-left: 0;
  margin-bottom: 20px;
}

.form-container form[name="creation-form"] {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#index-title {
  margin-top: 15px;
  text-align: center;
}

.list-item p {
  margin: 3px 0;
}

.index-container {
  max-width: 95%;
  width: 100%;
  margin: 0 auto;
  padding: 0 32px;
  display: flex;
  flex-direction: column;
}

.cit-sel {
  text-align: center;
  margin-bottom: 16px;
}
.cit-help {
  font-size: medium;
}

.cit-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 500px));
  column-gap: 48px;
  row-gap: 8px;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  width: 100%;
}

.list-item {
  background: #c7d9da;
  padding: 16px;
  margin: 8px;
  border-radius: 8px;
  /*box-shadow: 8px rgba(0, 0, 0, 0.35);*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border: 2px solid transparent;
  transition: transform 0.2s ease;
}

.list-item:hover {
  transform: scale(1.03);
  /*border-color: #36454F;*/
  /*box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);*/
}

.list-item:hover:active {
  transform: scale(1.01);
}

.list-item.selected {
  border-color: #36454f;
  background-color: #a9a9a9;
  transform: scale(1.02);
}

.cit-title {
  font-size: large;
  font-weight: bold;
}

.index-header {
  margin: 0 auto 16px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.index-header-el {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.index-header-el#create-and-filter {
  gap: 0px;
}

.index-header > div:nth-child(1) {
  grid-column: 1;
}

.index-header > div:nth-child(2) {
  grid-column: 2;
  text-align: center;
}

.index-header > div:nth-child(3) {
  grid-column: 3;
}

.bibtex {
  font-family: monospace;
  background-color: #f5f5f5;
  padding: 0 1rem;
  margin-bottom: 1rem;
  overflow-x: auto;
}

#bibtex {
  white-space: pre;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.9em;
  cursor: pointer;
}

.filter-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: start;
}
.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.filter input[type="text"] {
  height: 25px;
}
