name: CI

env:
  DATABASE_URL: postgresql://postgres:postgres@localhost:5432/postgres
  TEST_ENV: true
  SECRET_KEY: sekret

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - uses: actions/checkout@v5
      - name: Set up Python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - name: Install Poetry
        run: pip install poetry
      - name: Install dependencies
        run: poetry install    
      - name: Run pylint
        run: poetry run pylint src  --fail-under=8
      - name: Set up database schema
        run: poetry run python src/db_helper.py
      - name: Run unit tests
        run: poetry run coverage run --branch -m pytest src/tests
      - name: Setup chromedriver
        uses: nanasess/setup-chromedriver@master
      - run: |
          export DISPLAY=:99
          chromedriver --url-base=/wd/hub &
          sudo Xvfb -ac :99 -screen 0 1280x1024x24 > /dev/null 2>&1 &
      - name: Coverage report
        run: poetry run coverage xml
      - name: Coverage report to Codecov
        uses: codecov/codecov-action@v5
      - name: Run robot tests
        run: |
          sleep 5
          bash run_robot_tests.sh
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      - name: Upload Robot Framework reports
        uses: actions/upload-artifact@v4
        with:
          name: robot-results
          path: |
            log.html
            report.html
            output.xml
            selenium*.png
            *.png

